<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sterling.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- In milliseconds -->
    <add key="StrategyPollingFrequency" value="500" />
    <add key="QuotesProviderPass" value="devtest" />
    <add key="QuotesProviderUser" value="ajain" />
  </appSettings>
    <userSettings>
        <Sterling.Properties.Settings>
            <setting name="Strategy" serializeAs="String">
                <value />
            </setting>
            <setting name="Quantity" serializeAs="String">
                <value />
            </setting>
            <setting name="DPR" serializeAs="String">
                <value />
            </setting>
            <setting name="Price" serializeAs="String">
                <value />
            </setting>
            <setting name="N" serializeAs="String">
                <value />
            </setting>
            <setting name="Symbol" serializeAs="String">
                <value />
            </setting>
            <setting name="Exchange" serializeAs="String">
                <value />
            </setting>
            <setting name="REntry" serializeAs="String">
                <value />
            </setting>
            <setting name="SQty" serializeAs="String">
                <value />
            </setting>
            <setting name="Account" serializeAs="String">
                <value />
            </setting>
        </Sterling.Properties.Settings>
    </userSettings>
</configuration>